.book-list {
    margin-top: 10px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}

.book-list li {
    background-color: rgba(152, 121, 84, 0.526);
    border: 1.5px solid whitesmoke;
    border-radius: 5px;
    padding: 0.1em;
    max-width: 180px;
    max-height: 390px;
}


.book-list li img {
   width: 50%;
}

@media (min-width:800px) {
    .book-list li {
        max-width: 240px;
    }

}

.book-list li:hover {
    scale: 1.02;
}

.book-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.btn-book-list-area {
    display: flex;
    justify-content: space-around;
}