.edit-form {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   /* justify-content: center; */

   gap: 5px;
}

.book-edit-area {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.book-edit-area img {
   max-width: 270px;
}