@font-face {
    font-family: poppins;
    src: url(/assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-extra-bold;
    src: url(/assets/fonts/Poppins-ExtraBold.ttf);
}